@font-face {
  font-family: 'Pitch Sans';
  src: url('/PitchSans-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Astroph Rough';
  src: url('/Astroph-Rough-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Pitch Sans', sans-serif !important;
}